.header {
    margin: 0;
    height: 70px;
    width: 100%;
    padding: 0 2rem;
    box-shadow: 0px 1px 3px #333;
}

.container {
    max-width: 800px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user {
    display: flex;
    align-items: center;
    gap: 3px;
}

.userIcon {
    width: 20px;
    height: 20px;
    background: url('../../Assets/usuario.svg') no-repeat center center;
}