.button {
    padding: .5rem 2rem;
    background-color: #fb1;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: #fe8 0px 0px 0px 3px;
}